<div class="modal fade" id="add-note-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog add-note-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <span>ADD A NOTE</span>
          <span data-dismiss="modal" aria-label="Close">&times;</span>
        </div>
      </div>
      <div class="modal-body">
        <div class="modal-body-content">
          <p><b>PUBLIC NOTES</b> will be visible to anybody who views this report.</p>
          <p><b>PRIVATE NOTES</b> will only be visible to you when viewing this report.</p>
          <textarea placeholder="Enter your note here"></textarea>
          <div class="modal-body-content__set-private">
            <label>Set as Private</label>
            <!-- <ui-switch size="small" switchColor="#ffffff" defaultBgColor="#81B34C" defaultBoColor="#81B34C"
              checkedLabel="on" uncheckedLabel="off" checked></ui-switch> -->
          </div>
        </div>
        <div class="footer-content">
          <div class="text-center">
            <div class="btn-close" data-dismiss="modal" aria-label="Close">
              <img src="../../../../../../../assets/images/new-icons/ic-edit-blue.png">
              <span>ADD A NOTE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>