<div class="mini-reports-header row">
  <div class="col-md-4 col-sm-6 col-xs-12 mini-reports-header__desc">
    <h2>Life Events Report</h2>
    <p>
      View information about important milestones in {{ person.fName }}’s life
      such as birth records, educational details, first home, marriage/ divorce
      records, or death records.
    </p>
  </div>

  <div class="col-md-8 col-sm-6 col-xs-12 mini-reports-header__img">
    <img src="../../../../../assets/search_flow/lifeEvents.svg" />
  </div>
</div>

<div class="mini-reports-body">
  <div class="mini-reports-body-relatives">
    <h2>Life Events for Susan Smith.</h2>
    <div class="mini-reports-body-relatives__body">
      <div class="event-flow-container">
        <div class="event-flow-wrapper">
          <div class="event-flow event-flow-first-left">
            <img
              src="../../../../../assets/search_flow/ic-birthday-calendar.svg"
            />
            <div class="event-name font-weight-bold">BIRTH DATE</div>
            <div class="event-detail">
              <div class="font-weight-bold text-primary">June 17th, 197</div>
              <div></div>
              Susan Smith was born on 6/17/70 in West Palm Beach, FL
            </div>
          </div>
          <div class="event-flow event-flow-right">
            <img src="../../../../../assets/search_flow/ic-education.svg" />
            <div class="event-name font-weight-bold">EDUCATION</div>
            <div class="event-detail">
              <div class="font-weight-bold text-primary">May 1992</div>
              <div>Susan attended the University of Miami from 1998 - 1992</div>
            </div>
          </div>
          <div class="event-flow event-flow-left">
            <img src="../../../../../assets/search_flow/ic-home.svg" />
            <div class="event-name font-weight-bold">FIRST HOME</div>
            <div class="event-detail">
              <div class="font-weight-bold text-primary">November 1998</div>
              <div>
                Susan purchased her first home in 1998 in Pembroke Pines, FL
              </div>
            </div>
          </div>
          <div class="event-flow event-flow-right">
            <img src="../../../../../assets/search_flow/ic-marriage.svg" />
            <div class="event-name font-weight-bold">MARRIAGE</div>
            <div class="event-detail">
              <div class="font-weight-bold text-primary">N/A</div>
              <div>
                No Information On Susan’s Marital Status Is Available At This
                Time
              </div>
            </div>
          </div>
          <div class="event-flow event-flow-left">
            <img src="../../../../../assets/search_flow/ic-divorce.svg" />
            <div class="event-name font-weight-bold">DIVORCE</div>
            <div class="event-detail">
              <div class="font-weight-bold text-primary">N/A</div>
              <div>
                No Information On Susan’s Divorce Status Is Available At This
                Time
              </div>
            </div>
          </div>
          <div class="event-flow event-flow-last-right">
            <img src="../../../../../assets/search_flow/ic-death.svg" />
            <div class="event-name font-weight-bold">DEATH</div>
            <div class="event-detail">
              <div class="font-weight-bold text-primary">N/A</div>
              <div>Susan is currently alive</div>
            </div>
          </div>
          <!-- <div class="event-flow event-flow-last-left">
        <img src="../../../../../assets/search_flow/ic-home.svg" />
        <div class="event-name">event</div>
        <div class="event-detail">details</div>
      </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="mini-reports-body-additional">
    <div class="row">
      <div class="col-md-4">
        <div class="text-primary">ADDITIONAL RESOURCES</div>
        <div>
          We have curated the very best resources to get even more Life Event
          Records, including marriages, divorces, death records, birth
          certificates. Select below for more details
        </div>
      </div>
    </div>
    <div class="additional-resources">
      <div class="additional-resources-item">
        <div class="resource-item-img">
          <img
            src="../../../../../assets/search_flow/ic-diagram-ancestry.svg"
          />
        </div>
        <button type="button" class="">VIEW NOW</button>
      </div>
      <div class="">
        <div class="resource-item-img">
          <img
            src="../../../../../assets/search_flow/ic-diagram-my-heritage.svg"
          />
        </div>
        <button type="button" class="">VIEW NOW</button>
      </div>
      <div class="">
        <div class="resource-item-img">
          <img src="../../../../../assets/search_flow/ic-progress-circle.svg" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-center">
        <div class="">More Information</div>
        <div class="text-primary">PROPERTIES REPORT</div>
        <div class="m-3">
          We have more information about Susan, including addresses, property
          details, and neighbors. Please click continue to view the next report.
        </div>
        <div>
          <img
            src="../../../../../assets/search_flow/ic-diagram-property.svg"
          />
        </div>
        <div class="my-4">
          <button type="button">CONTINUE</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="mini-reports-body">
  <div class="mini-reports-body-relatives">
    <h2>We found 12 relatives for Susan Smith.</h2>
    <div class="mini-reports-body-relatives__body row">
      <div class="relative-card col-md-4 col-sm-6 col-xs-12">
        <div class="relative-card-wrapper">
          <div class="relative-card__top">
            <div class="relative-card__top-img">
              <img src="../../../../../../assets/search_flow/person-man.png" />
            </div>
            <div class="relative-card__top-name">
              <span>James Smith, </span>
              <span>Relative</span>
            </div>
            <div class="relative-card__top-age">
              <span>Age 42 • Pembroke Pines, FL</span>
            </div>
          </div>
          <div class="relative-card__bottom">
            <app-icon-button
              text="VIEW REPORT"
              className="btn-view"
              type="blue"
              color="white"
              [rounded]="false"
              [fullWidth]="false"
              [shadow]="false"
              icon="view"
            >
            </app-icon-button>
          </div>
          <div class="top-left-corner"></div>
        </div>
      </div>
      <div class="relative-card col-md-4 col-sm-6 col-xs-12">
        <div class="relative-card-wrapper">
          <div class="relative-card__top">
            <div class="relative-card__top-img">
              <img src="../../../../../../assets/search_flow/person-man.png" />
            </div>
            <div class="relative-card__top-name">
              <span>James Smith, </span>
              <span>Relative</span>
            </div>
            <div class="relative-card__top-age">
              <span>Age 42 • Pembroke Pines, FL</span>
            </div>
          </div>
          <div class="relative-card__bottom">
            <app-icon-button
              text="VIEW REPORT"
              className="btn-view"
              type="blue"
              color="white"
              [rounded]="false"
              [fullWidth]="false"
              [shadow]="false"
              icon="view"
            >
            </app-icon-button>
          </div>
          <div class="top-left-corner"></div>
        </div>
      </div>
      <div class="relative-card col-md-4 col-sm-6 col-xs-12">
        <div class="relative-card-wrapper">
          <div class="relative-card__top">
            <div class="relative-card__top-img">
              <img src="../../../../../../assets/search_flow/person-man.png" />
            </div>
            <div class="relative-card__top-name">
              <span>James Smith, </span>
              <span>Relative</span>
            </div>
            <div class="relative-card__top-age">
              <span>Age 42 • Pembroke Pines, FL</span>
            </div>
          </div>
          <div class="relative-card__bottom">
            <app-icon-button
              text="VIEW REPORT"
              className="btn-view"
              type="blue"
              color="white"
              [rounded]="false"
              [fullWidth]="false"
              [shadow]="false"
              icon="view"
            >
            </app-icon-button>
          </div>
          <div class="top-left-corner"></div>
        </div>
      </div>
      <div class="relative-card col-md-4 col-sm-6 col-xs-12">
        <div class="relative-card-wrapper">
          <div class="relative-card__top">
            <div class="relative-card__top-img">
              <img src="../../../../../../assets/search_flow/person-man.png" />
            </div>
            <div class="relative-card__top-name">
              <span>James Smith, </span>
              <span>Relative</span>
            </div>
            <div class="relative-card__top-age">
              <span>Age 42 • Pembroke Pines, FL</span>
            </div>
          </div>
          <div class="relative-card__bottom">
            <app-icon-button
              text="VIEW REPORT"
              className="btn-view"
              type="blue"
              color="white"
              [rounded]="false"
              [fullWidth]="false"
              [shadow]="false"
              icon="view"
            >
            </app-icon-button>
          </div>
          <div class="top-left-corner"></div>
        </div>
      </div>
    </div>

    <div class="mini-reports-body-relatives__body row" *ngIf="showAllRelatives">
      <div class="relative-card col-md-4 col-sm-6 col-xs-12">
        <div class="relative-card-wrapper">
          <div class="relative-card__top">
            <div class="relative-card__top-img">
              <img src="../../../../../../assets/search_flow/person-man.png" />
            </div>
            <div class="relative-card__top-name">
              <span>James Smith, </span>
              <span>Relative</span>
            </div>
            <div class="relative-card__top-age">
              <span>Age 42 • Pembroke Pines, FL</span>
            </div>
          </div>
          <div class="relative-card__bottom">
            <app-icon-button
              text="VIEW REPORT"
              className="btn-view"
              type="blue"
              color="white"
              [rounded]="false"
              [fullWidth]="false"
              [shadow]="false"
              icon="view"
            >
            </app-icon-button>
          </div>
          <div class="top-left-corner"></div>
        </div>
      </div>
      <div class="relative-card col-md-4 col-sm-6 col-xs-12">
        <div class="relative-card-wrapper">
          <div class="relative-card__top">
            <div class="relative-card__top-img">
              <img src="../../../../../../assets/search_flow/person-man.png" />
            </div>
            <div class="relative-card__top-name">
              <span>James Smith, </span>
              <span>Relative</span>
            </div>
            <div class="relative-card__top-age">
              <span>Age 42 • Pembroke Pines, FL</span>
            </div>
          </div>
          <div class="relative-card__bottom">
            <app-icon-button
              text="VIEW REPORT"
              className="btn-view"
              type="blue"
              color="white"
              [rounded]="false"
              [fullWidth]="false"
              [shadow]="false"
              icon="view"
            >
            </app-icon-button>
          </div>
          <div class="top-left-corner"></div>
        </div>
      </div>
    </div>
    <div
      class="mini-reports-body-relatives__view-more"
      *ngIf="!showAllRelatives"
    >
      <div class="btn-view-more" (click)="switchShowAllRelative()">
        <p>View 6 More Relatives</p>
        <img
          src="../../../../../assets/search_flow/ic-show-all-relatives.svg"
        />
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="mini-reports-footer">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <app-report-action
        [downloadPath]="pdfFileName"
        (setMonitoring)="subscribe($event)"
      ></app-report-action>
    </div>
    <div class="col-md-6 col-sm-6">
      <app-next-report
        title="LIFE EVENTS REPORT"
        desc="We have more information about Susan, including birth records, educational background, properties, marrriage, and more. Please click continue to view the next report."
        imgUrl="../../../../../../assets/search_flow/life-events.png"
        (onNext)="handleNext()"
      >
      </app-next-report>
    </div>
  </div>
  <div class="row">
    <app-btn-direction
      [isNext]="true"
      color="#276FCF"
      (onClick)="handleNext()"
    ></app-btn-direction>
  </div>
</div> -->

<!-- <ng-template #thisIsMe>
  <app-tutorial-modal
    desc="Select YES below if this report is your own"
  ></app-tutorial-modal>
</ng-template> -->
