<div class="container">
  <div class="col-md-4">
    <app-icon-button text="SEARCH" className="btn-view-report" type="gold" color="white" [rounded]="true"
      [fullWidth]="false" [shadow]="true"></app-icon-button>

    <hr />

    <app-icon-button text="VIEW REPORT" className="btn-view-report" type="blue" color="white" [rounded]="false"
      [fullWidth]="false" [shadow]="false" icon="view"></app-icon-button>

    <hr />

    <app-icon-button text="VIEW REPORT" className="btn-view-report" type="gold" color="white" [rounded]="false"
      [fullWidth]="true" [shadow]="false" icon="edit"></app-icon-button>

    <hr />

    <app-icon-button text="VIEW REPORT" className="btn-view-report" type="green" color="white" [rounded]="true"
      [fullWidth]="false" [shadow]="false" icon="vector"></app-icon-button>

    <hr />

    <app-icon-button text="RUN CHECK" className="btn-view-report" type="transparent" color="blue" [rounded]="false"
      [fullWidth]="false" [shadow]="false" icon="arrow-forward-blue" [iconRight]="true" borderColor="blue">
    </app-icon-button>
  </div>
</div>